footer {
    background-color: var(--color-submenu);
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #333;
    font-size: 14px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.newsletter form {
    display: flex;
    align-items: center;
}

.newsletter input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 14px;
}

.newsletter button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.contact-info h4 {
    margin-bottom: 10px;
    font-size: 16px;
}

.payment-methods img {
    width: 50px;
    margin: 5px;
}

.footer-bottom {
    text-align: center;
    font-size: 12px;
}

.footer-bottom a {
    color: #333;
    text-decoration: underline;
}

.footer-bottom a:hover {
    text-decoration: none;
    color: #000;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .newsletter form {
        flex-direction: column;
        align-items: stretch;
    }

    .newsletter input {
        margin-right: 0;
        margin-bottom: 10px;
        width: 100%;
    }

    .newsletter button {
        width: 100%;
    }

    .payment-methods img {
        width: 40px; /* Ajusta el tamaño de las imágenes en pantallas pequeñas */
    }
}
