body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

header {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 10px 20px;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.navbar a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: var(--card-background);
    border: 1px solid var(--card-border);
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    max-width: 320px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 10px;
}

.card img {
    width: 100%;
    height: auto;
}

.card-body {
    padding: 15px;
}

.card-body h3 {
    margin: 0 0 10px;
}

.card-body p {
    color: #555;
    margin: 0 0 15px;
}

.card-body button {
    background-color: var(--button-background);
    color: var(--text-color);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.card-body button:hover {
    background-color: var(--button-hover-background);
}

/* Media query para pantallas de dispositivos móviles */
@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr; /* Una sola columna para pantallas pequeñas */
        padding: 10px;
    }

    .card {
        max-width: 100%; /* Las tarjetas ocupan el 100% del ancho disponible */
        margin: 10px 0; /* Ajusta los márgenes */
    }

    header {
        padding: 10px 15px; /* Menos padding en el header */
    }
}
