/* Root es el selector, sirve para escribir las variables */

:root{
    /* todas las varaibles, en este caso los colores que vamos a usar */
    --color-tema:#B0A58A;
    --color-texto:#030a60;
    --color-texto-hover:#3a56e2; /* Azul ligeramente más claro */
    --color-submenu:#D6CDB2;
}
main{
    background-color: var(--color-tema);
}